<h1>Users</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Meet pref</th>
      <th>Avail times</th>
      <th>Network</th>
    </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= link_to profile.name, profile_url(profile) %></td>
      <td><%= profile.meet_pref %></td>
      <td><%= profile.avail_times %></td>
      <td><%= Network.find_by_id(profile.network_id).name %></td>

    </tr>
  <% end %>
  </tbody>
</table>

