<h1><%= @group.name %></h1>
<p>
  <b>Caption:</b>
  <%= @group.caption %>
</p>
<div class= "container_small right">
  <b>Members:</b>
  <% @group.users.each do |x| %>
  <li><%= link_to x.profile.name , profile_url(x.id) %></li>
  <% end %>
</div>

<%= link_to "Join group" , membership_url(@group.id), class: "btn btn-large btn-success" %>
</div>
