<div class="container">
<ul><br><br>
<lh>Needs:</lh>
<li>Addresses the need to rapid prototype the ideas not fortunate enough to be the top twenty ideas pursued for Starternight.</li>
<li>Allows for students to maintain the starter league network to stay active and productive in the startup community beyond the scope of the course.  </li>
<li>Provides a social network geared towards startups and programmers</li>
<li>
Allows for people from all over the world to connect and tackle problems through video chat and shared desktop for paired programming sessions.
</li>
<lh>User Stories:</lh>
<li>Users can post requests as well as leave comments to post</li>
<li>Users can be in multiple groups (starter night groups will be starred)</li>
<li>Users can create an event open to group or network</li>
<li>Users can create a group</li>
<li>Users can create networks private or public</li>
<li>Additional thoughts: Teams can meet up remotely, such as a multi-way video chat to brainstorm an idea, or possibly a remote shared desktop for paired programming.</li>
<li>Potential Users: Students, Alumni, Mentors, TAs, Maverick coders, people looking to build something</li>
</ul>
</div>
