<div class="container">
<ul><br><br>
<li>Users would set up profiles, with available times, relevant skills, and meet preferences.</li>
<li>Users can post requests such as pitching an idea and requesting a team, or requesting a paired programmer to tackle a challenge, or creating an event like a private hack-a-thon to rapid prototype an idea. Users can maybe suggest that they’re willing to help develop other users’ ideas in exchange for help with their own.</li>
<li>Users can be in multiple groups (starter night groups will be starred)</li>

<li>Additional thoughts: Teams can even meet up remotely, such as a multi-way video chat to brainstorm an idea, or possibly a remote shared desktop for paired programming.</li>
<li>Starter Shipper addresses the need to rapid prototype the ideas being tossed to the side as we drop from 120 to 20 ideas for starter night.  Some students just need a collective brain power push to set them off on the right path.  Some apps are small enough in scope to be able to ship.</li>
<li>SS allows for starter league students to maintain the network to stay active and productive beyond the scope of the course.</li>
<li>Some students have more available time than others, and being in multiple groups seems like a more efficient method to practice the concepts learned in class.</li>
<li>Why ship one app when you can ship five.</li>
<li>Can eventually monetize, where people that have an idea or a programming need; they can post a job, and teams can apply</li>
<li>Ideas table can be private for users, until they post on a relevant network</li>
<li>Potential Users: Students, Alumni, Mentors, TAs, Maverick coders, people looking to build something</li>
</ul>
</div>
