/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header{
    height:70px;
    background-color: #002EB8;
    padding: 10px;
}

body{
  /*background-color: #afd0d6*/
  background-color: #d5e9ed

}
a{
  text-decoration: none;
}
ul, li{
  list-style: none;
  list-style-type: none;
  padding: 5px;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.right{
  float:right;
}

.container_med{
  width:620px;
  border: solid thin;
  min-height:700px;
  margin: 10px;
  padding:10px;
}

.left{
  float:left;
}
.sidebar{
  width:250px;
  border: solid thin;
  min-height:300px;
  margin:10px 10px 10px 0px;
  padding:10px;
}

.container{
  width: 960px;
  background-color: white;
  min-height: 700px;
}

nav{
  width: 400px;
  float: left;
}
